<!DOCTYPE html>
<html>
  <head>
    <title>Schwiftology News</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div id="main" class="container">
    <header class="navbar navbar-default" role="navigation">

       <div id="logo" class="navbar-brand"><%= link_to "Swiftology News", root_path %></div>
       <nav class="collapse navbar-collapse navbar-ex-1-collapse">
        <% if user_signed_in? %>
          <ul class="nav navbar-nav navbar-left">
           <li><%= link_to "Submit link", new_submission_path %></li>        
           <li><%= link_to "Account", edit_user_registration_path %></li>        
           <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li> 
          </ul>
          <ul class="nave navbar-nav navbar-right">
            <li><%= link_to "Logout", destroy_user_session_path %></li>
          </ul>  
        <% else %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Login", new_user_session_path %>
          </ul>  
        <% end %>
      
        </nav>
    </header>
  </div>

  <% flash.each do |name, msg| %>
    <%= content_tag(:div, msg, class: "alert alert-#{name}") %>  
  <% end %>

  <div id="container" class="center-block">
      <%= yield %>
  </div>

   
  </body>
</html>
